{% extends 'base.html' %} 
{% block content %}
<div class="main-panel">        
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Successful payment request</h4>
              <p>Check your phone for the payment push request.</p>
              <div class="row">
                <div class="col-md-5">
                    <a href="{% url 'mpesa' %}" class="btn btn-primary">Go back Home</a>
                </div>
                <div class="col-md-5">
                    <a href="{% url 'transactions'%}" class="btn btn-success">Go to Transactions</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    
</div>
{% endblock content %}