consumer_key=
consumer_secret=
business_shortcode=174379
pass_key=
access_token_url=https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
checkout_url=https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest
mpesa_environment=sandbox
